/* Add this to your CSS file */

.faded {
  opacity: 0.3 !important;
}

/* Common styles for both prev and next buttons */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  filter: drop-shadow(0px 0px 13px rgba(255, 255, 255, 0.3));
  z-index: 1;
  position: fixed; /* Change to fixed positioning */
  bottom: 50px; /* Adjust bottom distance */
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  border-radius: 50px;
}

/* Styles for larger screens */
@media screen and (min-height: 600px) {
  .slick-prev,
  .slick-next {
    width: 50px;
    height: 50px;
    bottom: 50px;
  }
}

/* Styles for medium screens */
@media screen and (max-height: 599px) and (min-height: 400px) {
  .slick-prev,
  .slick-next {
    width: 40px;
    height: 40px;
    bottom: 30px;
  }
}

/* Styles for smaller screens */
@media screen and (max-height: 405px) {
  .slick-prev,
  .slick-next {
    width: 30px;
    height: 30px;
    bottom: 10px;
  }
}

/* Remove hover effect */
.slick-prev:hover,
.slick-next:hover {
  color: transparent;
  outline: none;
  background: transparent;
  filter: drop-shadow(0px 0px 13px rgba(255, 255, 255, 0.3));
}

/* Styles for positioning */
.slick-prev {
  left: 40%;
  transform: translateX(-50%); /* Center horizontally */
}

.slick-prev:before {
  content: url(prev.svg);
}

.slick-next {
  right: 40%;
  transform: translateX(50%); /* Center horizontally */
}

.slick-next:before {
  content: url(next.svg);
}
